
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
*{
 font-family: 'Poppins', sans-serif;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;
}
header {
    background: rgb(4,5,5);
    background: linear-gradient(90deg, rgba(4,5,5,1) 20%, rgba(62,74,74,1) 50%, rgba(0,0,0,1) 80%);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo {
 text-decoration: none;
 color: #fff;
 text-transform: uppercase;
 font-weight:700;
 font-size: 1.8em;
}
.navigation a{
color: #fff;
text-decoration: none;
font-size: 1.4em;
font-weight: 500;
padding-left: 50px;
}
.navigation a:hover{
    color: purple;
}
section{
    padding: 100px 200px ;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/imgs/Img1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
        color: #fff;
        font-size: 1.4em;
        font-weight: 500;
        margin-bottom: 10px;
        /*color: #fff;
  font-size: 1.4em;
  font-weight: 500; */
    }
/*.main h3 span{
    display: inline-block;*/
    /*margin-top: 10px;*/
    /*color:#4e9eff;
    font-size: 1em;
    font-weight: 600;
}*/
 .main h3 {
     color: #fff;
     font-size: 4em;
     font-weight: 700;
     letter-spacing: 1px;
     margin: 30px 0; /* تعديل الفجوة بين النصوص */
     color: #fff;
/* margin-top: 500px;*/
 margin-bottom: 300px;
 }
    /*//New*/
.text-container {
    width: 40%; /* عرض النص ليكون في مساحة معقولة */
    z-index: 1;
    color: #ffffff;
    /*padding-left: 80px;*/
    /* إضافة مسافة من اليسار */
    /* يمكنك إضافة المزيد من التنسيقات هنا إذا لزم الأمر */
}
/*new*/
    .text-container p {
        line-height: 1.5; /* زيادة ارتفاع السطر لتحسين القراءة */
        margin-bottom: 15px;
        text-align: justify; /* إضافة مسافة بين الفقرات */
    }
.main-btn {
    color: #fff;
    background: linear-gradient(90deg, rgba(4,5,5,1) 20%, rgba(62,74,74,1) 50%, rgba(0,0,0,1) 80%);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: -300px;
    transition: 0.7s ease;
    margin-left: 130px;
    position: relative;
    top: -150px;

    
}
main-btn button {
    background: linear-gradient(90deg, rgba(4,5,5,1) 20%, rgba(62,74,74,1) 50%, rgba(0,0,0,1) 80%);
}
.main-btn:hover {
    background: linear-gradient(90deg, rgba(100,100,100,1) 20%, rgba(150,150,150,1) 50%, rgba(130,130,130,1) 80%);
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
    
}
.social-icons a:hover{
    color: #0a49f6;
}
/*New*/
.social-icons {
    margin-top: -130px; /* إضافة مسافة أعلى الأيقونات */
    display: flex;
    justify-content: flex-start; /* محاذاة الأيقونات إلى اليسار */
     /* محاذاة الأيقونات إلى اليسار */
    margin-left: 130px; /* إضافة مسافة إضافية من اليسار إذا لزم الأمر */ /* إضافة مسافة إضافية من اليسار إذا لزم الأمر */
}
.title{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.info{
text-align: center;
}
.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.icon{
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}
.audi a{
    font-size: 2em;
    color: #0a49f6;
    text-decoration: none ;
}
.card1{
    color: #fff;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card1:hover{
    background-color: #211d57;
    transform: scale(1.1);
}
.main1 {
    font-weight: 100%;
    width: 100%;
    min-height: 75vh;
    display: flex;
    align-items: center;
    background: url('~/imgs/electric.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main1 h2{
  color: #fff;
  font-size: 1.8em;
  font-weight: 500;  
}
.main1 h2 span{
    display: inline-block;
    margin-top: 10px;
    color:#4e9eff;
    font-size: 3em;
    font-weight: 600;
}
.main1 h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.main2 {
    font-weight: 100%;
    width: 100%;
    min-height: 79vh;
    display: flex;
    align-items: center;
    background: url('~/imgs/electric.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main2 h2{
    color: #211d57;
    font-size: 1.8em;
    font-weight: 500;  
  }
  .main2 h2 span{
      display: inline-block;
      margin-top: 10px;
      color:#4e9eff;
      font-size: 3em;
      font-weight: 600;
  }
  .main2 h3 {
      color: #211d57;
      font-size: 2em;
      font-weight: 700;
      letter-spacing: 1px;
      margin-top: 30px;
      margin-bottom: 30px;
  }
.main3 {
    font-weight: 100%;
    width: 100%;
    min-height: 79vh;
    display: flex;
    align-items: center;
    background: url('~/imgs/electric.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main3 h2{
    color: #211d57;
    font-size: 1.8em;
    font-weight: 500;  
  }
  .main3 h2 span{
      display: inline-block;
      margin-top: 10px;
      color:#4e9eff;
      font-size: 3em;
      font-weight: 600;
  }
  .main3 h3 {
      color: #211d57;
      font-size: 2em;
      font-weight: 700;
      letter-spacing: 1px;
      margin-top: 30px;
      margin-bottom: 30px;
  }
  .footer{
    /* background: radial-gradient(circle, rgba(4,109,172,1) 0%, rgba(6,6,45,1) 100%, rgba(1,49,78,1) 100%); */
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }
  .footer-title {
    font-size: 1.3em;
    font-weight: 600;
  }
  .footer-title span {
    color: #3a6cf4;
  }
  @media(max-width: 1023px){
    header {
        padding: 12px 20px; 
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section {
        padding: 80px 20px ;
    }
    .main-content h2{
        font: size 1em; ;
    }
    .main-content h3 {
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
      }
  }
  




