<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"] - PLProj</title>	
	<link rel="stylesheet" href="~/css/style.css?v=1.1">
	<link rel="icon" href="imgs/Logo.png" type="image/x-icon">
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<header>
		  <a href="#" class="logo">D2D Auto</a> 
		<nav class="navigation">
			<a asp-action="Index" asp-controller="Home"> Home </a>

			<a asp-action="CreateCar" asp-controller="Home"> Add Car </a>
			<a asp-action="GetServices" asp-controller="Services"> Services</a>
            <a asp-action="SignUp" asp-controller="Home"> Sign Up</a>
			<a href="#contact"> Contact </a>
		</nav> 
	</header> 


	<div >
			@RenderBody()
	</div>

	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/jquery/jqueryui/jquery-ui.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
	@RenderSection("Script", required: false)

</body>
</html>
