<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - PLProj</title>
	<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/font-awesome/css/all.min.css" />
	<link rel="stylesheet" href="~/css/style.css?v=1.1">
</head>
<body>
	<header>
		<a href="#" class="logo">D2D Auto</a>
		<nav class="navigation">
			<a asp-action="Index" asp-controller="Home"> Home </a>
			@* <a asp-action="Book" asp-controller="Home"> Appointment </a> *@
			@if (User.Identity.IsAuthenticated)
			{
				@* <a asp-action="Book" asp-controller="Home"> Appointment </a> *@
				@if (User.IsInRole("Admin"))
				{
				<a asp-action="GetServices" asp-controller="Services"> Services</a>
				}
				<a asp-action="CreateCar" asp-controller="Car"> Add Car </a>
				<a id="Logout" asp-area="Identity" asp-page="/Account/Logout">Logout</a>

				@* <a href="#contact"> Contact </a> *@
			}
			else
			{
				<a asp-controller="Tech" asp-action="Index">Techincians</a>
				<a asp-controller="Driver" asp-action="Index">Drivers</a>
				<a asp-controller="Customer" asp-action="Index">Customers</a>


				<a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
				<a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
			}
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/jquery/jqueryui/jquery-ui.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
	@RenderSection("Script", required: false)

</body>
</html>
