
@model CarViewModel
@inject IUnitOfWork unitOfWork
@{
	var Colors = new SelectList(unitOfWork.Repository<Color>().GetAll(), "Id", "Name");
	var Brands = new SelectList(unitOfWork.Repository<Brand>().GetAll(), "Id", "Name");
}

@{
	ViewData["Title"] = "CreateCar";
}
<h1>CreateCar</h1>
<div class="container mt-5">
	<h2 class="text-center mb-4">Add Car</h2>
	<form asp-controller="Car" asp-action="CreateCar" method="post">

		<div class="form-group">
			<label class="form-label">Brand</label>
			<select class="form-control" id="DrpBrand" asp-items="Brands" required>
				<option value="">--Select Brand--</option>
			</select>
		</div>
		<div class="form-group">
			<label asp-for="ModelId" class="form-label"> </label>
			<select class="form-control" asp-for="ModelId" id="DrpModel" required>
				<option value="@null"> --Select Model-- </option>
			</select>
		</div>
		<div class="form-group">
			<label asp-for="ColorId" class="form-label"> </label>
			<select class="form-control" asp-for="ColorId" asp-items="Colors" required>
				<option value="@null"> --Select Color-- </option>
			</select>
			<span asp-validation-for="ColorId" class="text-danger"> </span>
		</div>

		<div class="form-group">
			<label asp-for="Description"> </label>
			<input class="form-control" asp-for="Description" required>
			<span asp-asp-validation-for="Description" class="text-danger"> </span>
		</div>

		<div class="form-group">
			<label asp-for="Year"> </label>
			<input class="form-control" asp-for="Year" required>
			<span asp-asp-validation-for="Year" class="text-danger"> </span>
		</div>
		<br />
		<br />
		<br />

		<input type="submit" style="margin-left: 5px; margin-top: 110px;" class="main-btn" value="Sign Up" />
	</form>
</div>
@section Script
{
	<script>
		$("#DrpBrand").change(function () {
			var BrandId = $(this).val();
			$.ajax({
				url: '@Url.Action("GetModelByBrands","Car")',
				type: "GET",
				data: { BrandId: BrandId },
				success: function (data) {
					let DrpModel = $("#DrpModel");
					DrpModel.empty().append("<option value=''> Select Model </option>");
					for (let i = 0; i < data.length; i++) {
						DrpModel.append(`<option value="${data[i].id}">${data[i].name}</option>`);
					}
				}
			});
		});
	</script>
}



