@model CarViewModel
@inject IUnitOfWork unitOfWork
@{
	var Colors = new SelectList(unitOfWork.Repository<Color>().GetAll(), "Id", "Name");
	var Brands = new SelectList(unitOfWork.Repository<Brand>().GetAll(), "Id", "Name");
}

@{
	ViewData["Title"] = "CreateCar";
}
<div class="container mt-5">
	<h2 class="text-center mb-4">Add Car</h2>
	<form asp-controller="Car" asp-action="CreateCar" method="post">

		<br />
		<br />
		<br />

		
		 <partial name="Partialviews/CreateEditCarPartial" /> 
		<br />
		<br />
		<br />
		<input type="submit" style="margin-left: 5px; margin-top: 110px;" class="main-btn" value="Sign Up" />
		<a asp-controller="Car" asp-action="Index" class="btn btn-dark">Cancel</a>
	</form>
</div>
@section Script
{
	<script>
		$("#DrpBrand").change(function () {
			var BrandId = $(this).val();
			$.ajax({
				url: '@Url.Action("GetModelByBrands","Car")',
				type: "GET",
				data: { BrandId: BrandId },
				success: function (data) {
					let DrpModel = $("#DrpModel");
					DrpModel.empty().append("<option value=''> Select Model </option>");
					for (let i = 0; i < data.length; i++) {
						DrpModel.append(`<option value="${data[i].id}">${data[i].name}</option>`);
					}
				}
			});
		});
	</script>
}



