@model TechnicianViewModel
@inject IUnitOfWork unitOfwork
@{
    var Categories = new SelectList(unitOfwork.Repository<Category>().GetAll(), "Id", "Name");
}
@{
    ViewData["Title"] = "Edit";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h1>Edit Technician</h1>
<form asp-controller="Technicians" asp-action="Edit" method="post">

    <partial name="Partialviews/AddEditTechniciansPartial" />

    <input type="submit" class="btn btn-dark" value="Edit" />
    <a asp-controller="Technicians" asp-action="GetTechnical" class="btn btn-dark">Back To List</a>

</form>

