@{
    ViewData["Title"] = "Home Page";
}
<br />
<br/>
<br/>

@if (TempData["Message"] is not null)
{
    <div id="successMessage" class="alert alert-success mt-4">
        <h3>@TempData["Message"]</h3>
    </div>

    <script>

        setTimeout(function () {

            var successMessage = document.getElementById("successMessage");
            if (successMessage) {
                successMessage.style.display = 'none';
            }
        }, 3000);
    </script>
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>CARS</title>
  </head>
<body style="background: linear-gradient(90deg, rgba(4,5,5,1) 20%, rgba(62,74,74,1) 50%, rgba(0,0,0,1) 80%);">

    <section class="main">
        <div class="text-container">
            <h3><br/> DoorToDoor Service </h3> 
            <br/>
            <a href="#Cars" class="main-btn">Our Services</a>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#Cars"><i class="fa-solid fa-gears"></i></a>
            </div>
        </div>
    </section>

    <section class="cards" id="Cars">
        <div class="content">
            <!-- FIRST BMW -->
            <h2 class="title">Services </h2>
            <div class="card">
                <div class="icon">
                    <img src="/imgs/service-4.jpg" width="300" height="150" style="border-radius: 15px;">
                </div>
                <div class="info">
                    <a href="bmw.html" style="text-decoration: none;"><h3>BMW</h3></a>
                    <p>BMW was ahead of its time and produced its first electric car in 1972, the BMW 1602e. In 1994, BMW acquired the Rover Group, which owned the rights to MINI, among other car brands.</p>
                </div>
            </div>
            <!-- SECOND : MERCEDES -->
            <div class="card">
                <div class="icon">
                    <img src="/imgs/service-1.jpg" width="300" height="150" style="border-radius: 15px;">
                </div>
                <div class="info">
                    <a href="mercedes.html" style="text-decoration: none;"><h3>MERCEDES</h3></a>
                    <p>Mercedes-Benz is one of the oldest existing motor vehicle manufacturers. During their years they have produced millions of luxury vehicles,</p>
                </div>
            </div>
            <!-- THIRD : AUDI  -->
            <div class="card">
                <div class="icon">
                    <img src="/imgs/service-2.jpg" width="300" height="150" style="border-radius: 15px;">
                </div>
                <div class="info">
                    <a href="audi.html" style="text-decoration: none;"><h3>AUDI</h3></a>
                    <p>Audi's founder, German engineer August Horch, left his first car company after a falling out with his CFO, starting a rival company which he called August Horch Automobilwerke GmbH.</p>
                </div>
            </div>
        </div>
    </section>

    @* >>>>>>>>>>>>>>Footer Section<<<<<<<<<<<<<<< *@
    <footer>
    <div class="footerContainer">
        <div class="socialIcons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-google-plus"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footerNav">
            <ul><li><a href="">Home</a></li>
                <li><a href="">News</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>

    </div>
    <div class="footerBottom">
        <p>Copyright &copy;2023; Designed by <span class="designer">Yousef Elbaz</span></p>
    </div>
</footer>
  </body>
</html>

