@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>CARS</title>
  </head>
  <body bgcolor="#051a2c">
    <section class="main">
        <div class="text-container">
            <h2><br><span>D2D Auto</span></h2>
            <h3>CARS REPAIR SERVICES</h3>
            <p>
                Welcome to Our Website! We specialize in providing top-notch car maintenance and repair services to ensure your vehicles perform at their best. Our team of experienced professionals is ready to offer a wide range of services, including comprehensive inspections, oil changes, brake maintenance, and air conditioning system repairs.
            </p>
            <p>
                We are committed to delivering high-quality service and exceptional customer care. Please explore our site to discover more about our services and how we can assist you!
            </p>
            <br />
            <a href="#Cars" class="main-btn">Our Services</a>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#cars"><i class="fa-solid fa-car"></i></a>
            </div>
        </div>
    </section>
   
  @* <section class="main">
    <div>
      <h2>WELCOME, <br> <span>D2D Auto</span></h2>
      <h3> Cars REPAIR SERVICES</h3>
      <a href="#Cars" class="main-btn">Our Cars</a>
      <div class="social-icons">
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
      <a href="#cars"><i class="fa-solid fa-car"></i></a>
      </div>
    </div>
  </section> *@
  <section class="cards" id="cars">
    <h2 class="title">Cars</h2>
    <div class="content">
<!-- FIRST BMW -->
      <div class="card">
        <div class="icon">
                    <img src="/imgs/electric.jpg" width="300" height="150" style="border-radius: 15px;">
        </div>
        <div class="info">
        <a href="bmw.html" style="text-decoration: none;"><h3>BMW</h3></a>
          <p>BMW was ahead of its time and produced its first electric car in 1972, the BMW 1602e. In 1994, BMW acquired the Rover Group, which owned the rights to MINI, among other car brands.</p>
        </div>
      </div>
<!-- SECOND : MERCEDES -->
      <div class="card">
        <div class="icon">
                    <img src="/imgs/electric.jpg" width="300" height="150" style="border-radius: 15px;">
        </div>
        <div class="info">
          <a href="mercedes.html" style="text-decoration: none;"><h3>MERCEDES</h3></a>
          <p>Mercedes-Benz is one of the oldest existing motor vehicle manufacturers. During their years they have produced millions of luxury vehicles,</p>
        </div>
      </div>
<!-- THIRD : AUDI  -->
      <div class="card">
        <div class="icon">
                    <img src="/imgs/electric.jpg" width="300" height="150" style="border-radius: 15px;">
        </div>
        <div class="info">
          <a href="audi.html" style="text-decoration: none;"><h3>AUDI</h3></a>
          <p>Audi's founder, German engineer August Horch, left his first car company after a falling out with his CFO, starting a rival company which he called August Horch Automobilwerke GmbH.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="contact" id="contact">
    <h2 class="title">Call Us</h2>
    <div class="content">
      <!-- PHONE-->
            <div class="card">
              <div class="icon"> 
                <i class="fa-solid fa-video"></i>
              </div>
              <div class="info">
             <h3>Phone</h3>
                <p>01222222222</p>
              </div>
            </div>
      <!-- VIDEO -->
            <div class="card">
              <div class="icon"> 
                <i class="fa-solid fa-phone-volume"></i>
              </div>
              <div class="info">
                <h3>Email</h3>
                <p>Autocar@gmail.com</p>
              </div>
            </div>
    </div>
  </section> 
  <footer class="footer">
    <p class="footer-title"> CopyRights  <span> Yousef Elbaz</span></p>
    <div class="social-icons">
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></a>
    <a href="#"><i class="fa-solid fa-car"></i></a>
    </div>
  </div>
  </footer>
  </body>
</html>

