@model ServiceViewModel
@inject IUnitOfWork unitOfwork
@{
    var Categories = new SelectList(unitOfwork.Repository<Category>().GetAll(), "Id", "Name");


}}

@{
    ViewData["Title"] = "Create Service";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h1>Create New Service</h1>

<form asp-controller="Services" asp-action="CreateService" method="post">
    <div class="mb-3">
          <label asp-for="Name" class="form-label"></label>
          <input class="form-control" asp-for="Name" />
          <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="Category"></label>
        <select asp-for="CategoryId" asp-items="Categories " class="form-control">
            <option value="@null"> -- Select Category -- </option>
        </select>
        
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input class="form-control" asp-for="Price" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
   
     <div class="mb-3">
        <label asp-for="EstimatedTime" class="form-label"></label>
        <input class="form-control" asp-for="EstimatedTime" />
        <span asp-validation-for="EstimatedTime" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input class="form-control" asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
   

    
   @*  <partial name="PartailViews/CreateEditDepartmentPartial" /> *@

    <input type="submit" class="btn btn-dark" value="Create" />
    <a asp-controller="Services" asp-action="GetServices" class="btn btn-dark">Back To List</a>

</form>