@model ServiceViewModel
@{
    ViewData["Title"] = "Delete";
}
<br />

<h1>Are you sure To Delete this Service </h1>
<br />
<br />
<form asp-controller="Services" asp-action="Delete" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input class="form-control" asp-for="Name" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <input class="form-control" asp-for="CategoryId" readonly />
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input class="form-control" asp-for="Price" readonly />
    </div>

     <div class="mb-3">
        <label asp-for="EstimatedTime" class="form-label"></label>
        <input class="form-control" asp-for="EstimatedTime" readonly />
    </div>

      <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input class="form-control" asp-for="Description" readonly />
    </div>



    <input type="submit" class="btn btn-danger" value="Delete" />
    <a asp-controller="Services" asp-action="GetServices" class="btn btn-dark">Cancel</a>
</form> 




